@model FirstQuestionsVM

<h4>Fyll i din favoritartist för att börja sökningen efter din drömlåt</h4>

<div class="container">
    <form asp-controller="Suggestion" asp-action="FindMusic">
        <br />
        <label asp-for="FavoriteArtist"></label>
        <input id="tournamentName" asp-for="FavoriteArtist" class="form-control" placeholder="Håkan Hellström">
        <span asp-validation-for="FavoriteArtist"></span>
        <br />
        <div style="float:right; margin-bottom:3%">
            <input type="submit" class="btn btn-success" value="Hitta musik" />
        </div>
        <div id="validation" asp-validation-summary="All"></div>
    </form>
</div>
