@model KonsultBonusVM[]

<div class="col-xs-4">
    <h4>Fyll i företagets nettoresultat</h4>
    <input type="number" id="nettoResult" />
</div>
<div class="col-xs-8">
    @foreach (var item in Model)
    {
        <div class="col-xs-4">@item.Name</div><div class="col-xs-3">@item.ReqruitmentDate</div><div class="col-xs-4"><input type="number" id="@item.LojayltyPoints" class="debHours" /> <input type="button" value="calculate" /></div><div class="col-xs-1 bonusAnsw"></div>
    }
</div>
<div class="col-xs-6">
    <input type="button" value="calculate all" id="allBonus" />
</div>

<script>
    $("#allBonus").click(function () {
        var bonusPot = $("#nettoResult").val() * 0.05;
        var debPointTot=0;
        $(".debHours").each(function (index) {
            var oneloyalty = $(this).prop("id");
            var hello= oneloyalty.replace(",", ".");
            var hey = $(this).val();
            var debPoint = hey * hello;
            debPointTot= debPointTot+debPoint;
        });
        $(".debHours").each(function (index) {
            var oneloyalty = $(this).prop("id");
            var hello = oneloyalty.replace(",", ".");
            var oneDebHours = $(this).val();
            var oneDebPoint = hello * oneDebHours;
            var debpointSHare = oneDebPoint / debPointTot;
            var debPointShareCash = debpointSHare * bonusPot;
            $(this).parent().next().html(Math.round(debPointShareCash));
        });
    })
</script>